.navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.fab {
  width: 35px;
  height: 35px;
}
